<div class="jumbotron">
	<div class="container">
	    <h1>Título</h1>
	    <h2>Otro título</h2>
		<a href="http://en1mes.com" target="_blank" class="btn btn-default btn-color" style="color:white;"  role="button">En1mes</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
			  <h2 style="display: inline;">Example page</h2>
			  <span class="label label-default">New</span>
			</div>
			<a href="http://en1mes.com" target="_blank">En1mes en otra página</a>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h2>Subtítulos</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
			  <h3>Sub subtítulos</h3>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h6>Sub ... subtítulos</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<img src="https://en1mes.com/assets/logo-5d8021b65a5944316da34b544b012157.png">
			<img src="https://cdn-images-1.medium.com/max/2000/1*UWkL4QRmHnvLiIoXPoU2qA.jpeg" class="img-fluid img-thumbnail">
		</div>
	</div>
</div>
